# Dependensi Node.js (Ukurannya sangat besar dan bisa diinstal ulang via npm install)
node_modules/

# Konfigurasi Rahasia (SANGAT PENTING: berisi sandi database dan kunci JWT Midtrans)
.env

# File Log Catatan Error
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File Bawaan Sistem Operasi (Mac/Windows)
.DS_Store
Thumbs.db

.vite/
dist/

# Abaikan semua gambar hasil upload user
public/uploads/*

# Pengecualian: Tetap pertahankan file .gitkeep agar foldernya tidak hilang
!public/uploads/.gitkeep